table {
  width: 300px;
}

td {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
}

td:hover {
  background: lightgray;
}

.game-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.game-cell.cross:before {
  content: 'X';
  font-size: 76px;
  color: blue;
}

.game-cell.round:before {
  content: 'O';
  font-size: 76px;
  color: red;
}

.game-cell.cross.victory {
  background: lightblue;
}

.game-cell.round.victory {
  background: lightcoral;
}

[data-current-turn].cross {
  color: blue;
}
[data-current-turn].round {
  color: red;
}
[data-winner] {
  font-size: 50px;
  display: none;
}
[data-winner].show {
  display: inherit;
}

[data-winner-text].cross {
  color: blue;
}

[data-winner-text].round {
  color: red;
}
